.currency-content {
	min-height:220px;
	padding:5px 10px;
}

.currency-wrapper {
	background-color: #F4F5F6;
	border: 1px solid #e6e6e6;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	box-shadow: inset 0 0 0 2px #fff;
	-moz-box-shadow: inset 0 0 0 2px #fff;
	-webkit-box-shadow: inset 0 0 0 2px #fff;
}

.currency-header {
	text-align:center;
	color: #fff;
	font-size:18px;
	font-weight:bold;
	margin:0 0 20px 0;
	padding:5px 0;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #faa732;
	background-image: -moz-linear-gradient(top, #fbb450, #f89406);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
	background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
	background-image: -o-linear-gradient(top, #fbb450, #f89406);
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	border: 1px solid #ad6704;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.currency-convertBtn,
.currency-backBtn {
	display: block;
	padding: 4px 12px;
	margin:15px auto;
	font-size: 12px;
	line-height: 20px;
	font-weight:bold;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	background-color: #faa732;
	background-image: -moz-linear-gradient(top, #fbb450, #f89406);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
	background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
	background-image: -o-linear-gradient(top, #fbb450, #f89406);
	background-image: linear-gradient(to bottom, #fbb450, #f89406);
	background-repeat: repeat-x;
	border: 1px solid #ccc;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.currency-form select {
	width:100%;
}

.currency-form input, .currency-form select {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border:1px solid #e6e6e6;
	padding:5px;
	display:block;
	color: #333;
	font-size:11px;
}

.currency-form input {
	text-align:center;
	margin:0 auto;
}

.currency-form span {
	display:block;
	font-size:11px;
	font-weight:bold;
	color: #ad6704;
	padding:10px 0 0 3px;
}

.currency-convertBtn[disabled] {
  cursor: default;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  color: #ffffff;
  background-color: #f89406;
  *background-color: #df8505;
}

.currency-convertBtn:hover,
.currency-convertBtn:focus,
.currency-backBtn:hover,
.currency-backBtn:focus {
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
}

.currency-footer {
	text-align:center;
	padding-bottom:3px;
}
.currency-footer a {
	color: #b1b1b1;
	text-decoration:none;
	font-weight:normal;
}
.currency-loading-phrase,
.currency-error,
.currency-loading-gif {
	display:block;
	margin:0 auto;
	text-align:center;
	padding-bottom:10px;
}

.currency-back-table {
	margin:0 auto;
	padding-top:10px;
	line-height: 100%;
}

.currency-result-from,
.currency-equals,
.currency-result-to {
	font-weight:bold;
	text-align:center;
}

.currency-result-from,
.currency-result-to {
	color: #ad6704;
}

.currency-result-compare1,
.currency-back-gap,
.currency-result-compare2 {
	font-size:9px;
	padding-top:30px;
	text-align:center;
}