<!-- AERIEN -->
<div class="row" id="AER_SHOW" style="display: none">
    <div class="col-md-12">
        <div class="panel panel-default border-grey">
            <div class="panel-heading">
                <h6 class="panel-title text-muted text-bold NAME_DOS_CLFDS"><i class="icon-airplane2"></i> - Dossier Aerien</h6>
                <div class="heading-elements">
                    <ul class="heading-thumbnails">
                        <!--li>
                            <a href="#"><img class="attr_in_np_img" src="../../../assets/images/default-img.png" alt=""> <span class="ml-5 text-black attr_in_np">Non attribué</span></a>
                        </li-->
                    </ul>
                </div>
            </div>

            <div class="panel-body">
                <div class="row mb-20">
                    <div class="col-lg-4">
                        <div class="input-group">
                            <input name="DM_ATTRIBUER_AER" id="DM_ATTRIBUER_AER" type="text" user="" placeholder="Attribuer à ..." class="form-control input-sm border-black border-lg text-black text-center" readonly>
                            <span class="input-group-btn">
                                    <button type="button" id="BTN_ATT_U_ADD_AER"
                                            class="btn btn-link"
                                            data-popup="tooltip"
                                            title="Attribuez-vous à ce dossier ?"
                                            data-placement="right"><i
                                            class="icon-user-plus position-left"></i></button>
                                </span>
                        </div>
                    </div>
                    <div class="col-lg-5 text-center">
                        <div class="btn-group" id="all_btn_Aer">
                            <!--button type="button" class="btn bg-blue-800 btn-labeled mr-5" id="BTN_ADD_AER" style="display: none"><b><i class="icon-plus-circle2"></i></b> Ajouter</button-->
                            <button type="button" class="btn bg-indigo-800 btn-labeled mr-5" id="BTN_MOD_AER"><b><i class="icon-pen-plus"></i></b> Modifier</button>
                            <button type="button" class="btn bg-warning-800 btn-labeled mr-5" id="BTN_CLOT_AER"><b><i class="icon-unlocked"></i></b> Cloturer</button>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="btn-group pull-right">
                            <button type="button" class="btn bg-primary-700 btn-labeled toutes_les_factures"><b><i class="icon-printer4"></i></b>Edition</button>
                            <button type="button" class="btn bg-primary-400 dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right bg-primary-700" style="min-width: 220px !important;">
                                <li><a id="PAA_AER"><i class="icon-printer2"></i> PREAVIS D'ARRIVEE</a></li>
                                <li><a id="AA_AER"><i class="icon-file-text3"></i> AVIS D'ARRIVEE + FACTURE</a></li>
                                <!--li><a id="MAG_AER"><i class="icon-printer2"></i> MAGASINAGE</a></li-->
                                <!--li><a id="BAD_AER"><i class="icon-printer2"></i> BON A DELIVRER</a></li-->
                                <li><a id="INV_AER"><i class="icon-file-text3"></i> INVOICE</a></li>
                                <li><a href="/GTRANS/public/Facture/" target="_blank"><i class="icon-printer2"></i> AUTRE</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <form action="./" id="NEW_DAER_ADD" name="NEW_DAER_ADD" class="form-horizontal">
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <!-- Fournisseur -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label text-black">Fournisseur
                                                                                : </label>
                                <div class="col-sm-9">
                                    <select class="form-control border-black border-lg text-black livesearch" id="fournisseurs_AER" data-live-search="true" data-width="100%"></select>
                                </div>
                            </div>
                            <!-- /Fournisseur -->
                            <!-- Client -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label text-black">Client
                                                                                : </label>
                                <div class="col-sm-9">
                                    <select class="form-control border-black border-lg text-black livesearch" id="clients_AER" data-live-search="true" data-width="100%"> </select>
                                </div>
                            </div>
                            <!-- /Client -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label text-black">Adresse
                                                                                : </label>
                                <div class="col-sm-9"><input name="clients_ADR_MIG" id="clients_ADR_AER" type="text" class="form-control border-black border-lg text-black">
                                </div>
                            </div>
                            <!-- P/C -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label text-black">P/C : </label>
                                <div class="col-sm-9">
                                    <select class="form-control border-black border-lg text-black livesearch" id="clients_PC_AER" data-live-search="true" data-width="100%">
                    
                                                                                </select>
                                </div>
                            </div>
                            <!-- /P/C -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label text-black">Valeur en
                                                                                devise : </label>
                                <div class="col-sm-9"><input name="VAL_DEV_MIG" id="VAL_DEV_AER" type="text" class="form-control border-black border-lg text-black">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label text-black">LTA N°
                                                                                : </label>
                                <div class="col-sm-9"><input name="BL_MIG" id="LTA_AER" type="text" class="form-control border-black border-lg text-black">
                                </div>
                            </div>

                            <!-- Navire-->
                            <div class="form-group">
                                <label class="col-sm-3 control-label text-black">Lieu Depart
                                                                                : </label>
                                <div class="col-sm-9">
                                    <select class="form-control border-black border-lg text-black livesearch" id="port_DEP_AER" data-live-search="true" data-width="100%"></select>
                                </div>
                            </div>
                            <!-- /Navire -->
                            <!-- Navire-->
                            <div class="form-group">
                                <label class="col-sm-3 control-label text-black">Lieu
                                                                                Arrivée : </label>
                                <div class="col-sm-9">
                                    <select class="form-control border-black border-lg text-black livesearch" id="port_ARR_AER" data-live-search="true" data-width="100%"></select>
                                </div>
                            </div>
                            <!-- /Navire -->

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-feedback">
                                        <label class="col-sm-6 control-label text-black">Poids
                                                                                        : </label>
                                        <div class="col-sm-6"><input name="Poids_MIG" id="Poids_AER" type="number" class="form-control border-black border-lg text-black">
                                            <div class="form-control-feedback">
                                                KG
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label text-black">Magasin
                                                                                        :</label>
                                        <div class="col-sm-8">
                                            <select class="form-control border-black border-lg text-black" data-live-search="true" data-width="100%" id="magasin_AER">
                                                                                            <option value="MAS">MAS</option>
                                                                                            <option value="OPAT">OPAT</option>
                                                                                            <option value="">-</option>
                                                                                        </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group has-feedback">
                                <label class="col-sm-3 control-label text-black">Date Depart
                                                                                :</label>
                                <div class="col-sm-9">
                                    <input class="form-control border-black border-lg text-black daterange-single" type="date" id="Date_Dep_AER">
                                    <div class="form-control-feedback">
                                        <i class="icon-calendar22"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="col-sm-3 control-label text-black">Date
                                                                                Arrivée :</label>
                                <div class="col-sm-9">
                                    <input class="form-control border-black border-lg text-black daterange-single" type="date" id="Date_arr_AER">
                                    <div class="form-control-feedback">
                                        <i class="icon-calendar22"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label text-black">Marchandise
                                                                                : </label>
                                <div class="col-sm-9"><input name="VAL_DEV_MIG" id="MARCH_AER" type="text" class="form-control border-black border-lg text-black">
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <!-- Terme-->
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label text-black">Terme
                                                                                        :</label>
                                        <div class="col-sm-6">
                                            <select class="form-control border-black border-lg text-black" data-live-search="true" data-width="100%" id="term_AER">
                                                                                            <option value="EXWORK">EXWORK</option>
                                                                                            <option value="FOB">FOB</option>
                                                                                            <option value="FAS">FAS</option>
                                                                                            <option value="DDP">DDP</option>
                                                                                            <option value="DDU">DDU</option>
                                                                                            <option value="CF">CF</option>
                                                                                            <option value="">-</option>
                                                                                        </select>
                                        </div>
                                    </div>
                                    <!-- /Terme -->
                                </div>
                                <div class="col-md-6">
                                    <!-- Marque-->
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label text-black">Marque
                                                                                        :</label>
                                        <div class="col-sm-8">
                                            <select class="form-control border-black border-lg text-black" data-live-search="true" data-width="100%" id="marq_AER">
                                                                                            <option value="palette">Palette</option>
                                                                                            <option value="colis">Colis</option>
                                                                                            <option value="caisse">Caisse</option>
                                                                                            <option value="unite">Unité</option>
                                                                                            <option value="crts">Crts</option>
                                                                                            <option value="bulk">Bulk</option>
                                                                                            <option value="box">Box</option>
                                                                                            <option value="">-</option>
                                                                                        </select>
                                        </div>
                                    </div>
                                    <!-- /Marque -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-feedback">
                                        <label class="col-sm-6 control-label text-black">Largeur
                                                                                        :</label>
                                        <div class="col-sm-6"><input name="larg_MIG" id="larg_AER" type="number" class="form-control border-black border-lg text-black">
                                            <div class="form-control-feedback">
                                                <i class="icon-square-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group has-feedback">
                                        <label class="col-sm-4 control-label text-black">Hauteur
                                                                                        :</label>
                                        <div class="col-sm-8"><input name="haut_MIG" id="haut_AER" type="number" class="form-control border-black border-lg text-black">
                                            <div class="form-control-feedback">
                                                <i class="icon-square-up-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-feedback">
                                        <label class="col-sm-6 control-label text-black">Longueur
                                                                                        :</label>
                                        <div class="col-sm-6"><input name="long_MIG" id="long_AER" type="number" class="form-control border-black border-lg text-black">
                                            <div class="form-control-feedback">
                                                <i class="icon-square-up"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group has-feedback">
                                        <label class="col-sm-4 control-label text-black">Nombre
                                                                                        :</label>
                                        <div class="col-sm-8"><input name="NBR_MIC" id="Nombre_AER" type="number" class="form-control border-black border-lg text-black">
                                            <div class="form-control-feedback">
                                                <i class="icon-list-numbered"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>