<!-- MARTIME CMPLET-->
<div class="row" id="MC_SHOW" style="display: none">
    <div class="col-md-12">
        <div class="panel panel-default border-grey">
            <div class="panel-heading">
                <h6 class="panel-title text-muted text-bold NAME_DOS_CLFDS"><i class="icon-ship"></i> - Dossier Maritime Complet</h6>
                <div class="heading-elements">
                    <ul class="heading-thumbnails">
                        <!--li>
                            <a href="#"><img class="attr_in_np_img" src="../../../assets/images/default-img.png" alt=""> <span class="ml-5 text-black attr_in_np">Non attribué</span></a>
                        </li-->
                    </ul>
                </div>
            </div>

            <div class="panel-body">
                <div class="row mb-20">
                    <div class="col-lg-4">
                        <div class="input-group">
                            <input name="DM_ATTRIBUER_MIC" id="DM_ATTRIBUER_MIC" type="text" user="" placeholder="Attribuer à ..." class="form-control input-sm border-black border-lg text-black text-center" readonly>
                            <span class="input-group-btn">
                                    <button type="button" id="BTN_ATT_U_ADD_MIC"
                                            class="btn btn-link"
                                            data-popup="tooltip"
                                            title="Attribuez-vous à ce dossier ?"
                                            data-placement="right"><i
                                            class="icon-user-plus position-left"></i></button>
                                </span>
                        </div>
                    </div>
                    <div class="col-lg-5 text-center">
                        <div class="btn-group" id="all_btn_MC">
                            <!--button type="button" class="btn bg-blue-800 btn-labeled mr-5" id="BTN_ADD_MIC" style="display: none"><b><i class="icon-plus-circle2"></i></b> Ajouter</button-->
                            <button type="button" class="btn bg-indigo-800 btn-labeled mr-5" id="BTN_MOD_MIC"><b><i class="icon-pen-plus"></i></b> Appliquer</button>
                            <button type="button" class="btn bg-warning-800 btn-labeled mr-5" id="BTN_CLOT_MIC"><b><i class="icon-unlocked"></i></b> Cloturer</button>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="btn-group pull-right">
                            <button type="button" class="btn bg-primary-700 btn-labeled toutes_les_factures"><b><i class="icon-printer4"></i></b>Edition</button>
                            <button type="button" class="btn bg-primary-400 dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right bg-primary-700" style="min-width: 220px !important;">
                                <li><a id="PAA_MIC"><i class="icon-printer2"></i> PREAVIS D'ARRIVEE</a></li>
                                <li><a id="AA_MIC"><i class="icon-file-text3"></i> AVIS D'ARRIVEE + FACTURE</a></li>
                                <li><a id="BAD_MIC"><i class="icon-printer2"></i> BON A DELIVRER</a></li>
                                <li><a id="INV_MIC"><i class="icon-file-text3"></i> INVOICE</a></li>
                                <li><a href="/GTRANS/public/Facture/" target="_blank"><i class="icon-printer2"></i> AUTRE</a></li>
                                <li class="divider"></li>
                                <li><a id="CONS_MIC"><i class="icon-printer2"></i> CONSIGNATION</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <form action="./" id="NEW_DMIC_ADD" name="NEW_DMIG_ADD" class="form-horizontal">
                    <br>
                    <div class="row">
                        <div class="col-md-6">
                            <!-- Fournisseur -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label text-black">Fournisseur
                            : </label>
                                <div class="col-sm-9">
                                    <select class="form-control border-black border-lg text-black livesearch" id="fournisseurs_MIC" data-live-search="true" data-width="100%"> </select>
                                </div>
                            </div>
                            <!-- /Fournisseur -->
                            <!-- Client -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label text-black">Client
                            : </label>
                                <div class="col-sm-9">
                                    <select class="form-control border-black border-lg text-black livesearch" id="clients_MIC" data-live-search="true" data-width="100%">

                            </select>
                                </div>
                            </div>
                            <!-- /Client -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label text-black">Adresse
                            : </label>
                                <div class="col-sm-9"><input name="clients_ADR_MIG" id="clients_ADR_MIC" type="text" class="form-control border-black border-lg text-black">
                                </div>
                            </div>
                            <!-- P/C -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label text-black">P/C : </label>
                                <div class="col-sm-9">
                                    <select class="form-control border-black border-lg text-black livesearch" id="clients_PC_MIC" data-live-search="true" data-width="100%"></select>
                                </div>
                            </div>
                            <!-- /P/C -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label text-black">Valeur en
                            devise : </label>
                                <div class="col-sm-9"><input name="VAL_DEV_MIG" id="VAL_DEV_MIC" type="text" class="form-control border-black border-lg text-black">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label text-black">B/L N°
                            : </label>
                                <div class="col-sm-9"><input name="BL_MIG" id="BL_MIC" type="text" class="form-control border-black border-lg text-black">
                                </div>
                            </div>
                            <!-- Navire-->
                            <div class="form-group">
                                <label class="col-sm-3 control-label text-black">Navire
                            : </label>
                                <div class="col-sm-9">
                                    <select class="form-control border-black border-lg text-black livesearch" id="navire_MIC" data-live-search="true" data-width="100%">

                            </select>
                                </div>
                            </div>
                            <!-- /Navire -->
                            <!-- Navire-->
                            <div class="form-group">
                                <label class="col-sm-3 control-label text-black">Lieu Depart
                            : </label>
                                <div class="col-sm-9">
                                    <select class="form-control border-black border-lg text-black livesearch" id="port_DEP_MIC" data-live-search="true" data-width="100%">

                            </select>
                                </div>
                            </div>
                            <!-- /Navire -->
                            <!-- Navire-->
                            <div class="form-group">
                                <label class="col-sm-3 control-label text-black">Lieu Arrivée : </label>
                                <div class="col-sm-9">
                                    <select class="form-control border-black border-lg text-black livesearch" id="port_ARR_MIC" data-live-search="true" data-width="100%">

                            </select>
                                </div>
                            </div>
                            <!-- /Navire -->

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group has-feedback">
                                <label class="col-sm-3 control-label text-black">Date Depart :</label>
                                <div class="col-sm-9">
                                    <input type="date" class="form-control border-black border-lg text-black daterange-single" type="date" id="Date_Dep_MIC">
                                    <div class="form-control-feedback">
                                        <i class="icon-calendar22"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="col-sm-3 control-label text-black">Date Arrivée :</label>
                                <div class="col-sm-9">
                                    <input type="date" class="form-control border-black border-lg text-black daterange-single" type="date" id="Date_arr_MIC">
                                    <div class="form-control-feedback">
                                        <i class="icon-calendar22"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <!-- Terme-->
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label text-black">Terme :</label>
                                        <div class="col-sm-6">
                                            <select class="form-control border-black border-lg text-black" data-live-search="true" data-width="100%" id="term_MIC">
                                            <option value="EXWORK">EXWORK</option>
                                            <option value="FOB">FOB</option>
                                            <option value="FAS">FAS</option>
                                            <option value="DDP">DDP</option>
                                            <option value="DDU">DDU</option>
                                            <option value="CF">CF</option>
                                            <option value="">-</option>
                                        </select>
                                        </div>
                                    </div>
                                    <!-- /Terme -->
                                </div>
                                <div class="col-md-6">
                                    <!-- Marque-->
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label text-black">Marque :</label>
                                        <div class="col-sm-8">
                                            <select class="form-control border-black border-lg text-black" data-live-search="true" data-width="100%" id="marq_MIC">
                                            <option value="palette">Palette</option>
                                            <option value="colis">Colis</option>
                                            <option value="caisse">Caisse</option>
                                            <option value="unite">Unité</option>
                                            <option value="crts">Crts</option>
                                            <option value="bulk">Bulk</option>
                                            <option value="box">Box</option>
                                            <option value="">-</option>
                                        </select>
                                        </div>
                                    </div>
                                    <!-- /Marque -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-feedback">
                                        <label class="col-sm-6 control-label text-black">Escale :</label>
                                        <div class="col-sm-6"><input name="escal_MIC" id="escal_MIC" type="text" class="form-control border-black border-lg text-black">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group has-feedback">
                                        <label class="col-sm-4 control-label text-black">Nombre :</label>
                                        <div class="col-sm-8"><input name="NBR_MIC" id="NBR_MIC" type="number" class="form-control border-black border-lg text-black">
                                            <div class="form-control-feedback">
                                                <i class="icon-list-numbered"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-info panel-bordered">
                            <div class="panel-heading">
                                <h6 class="panel-title text-black text-center"> MARCHANDISE</h6>
                            </div>
                            <div class="panel-body">
                                <div class="form-horizontal">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label text-black">Marchandise</label>
                                                <div class="col-sm-8"><input name="MARCH_MIC" id="MARCH_MIC" type="text" class="form-control border-black border-lg text-black">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label text-black">Rubrique</label>
                                                <div class="col-sm-8"><input name="Rubr_MIC" id="Rubr_MIC" type="text" class="form-control border-black border-lg text-black">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group has-feedback">
                                                <label class="col-sm-4 control-label text-black">Nombre</label>
                                                <div class="col-sm-8"><input name="Nombre_MIC" id="Nombre_MIC" type="text" class="form-control border-black border-lg text-black">
                                                    <div class="form-control-feedback">
                                                        <i class="icon-list-numbered"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 text-center">
                                            <div class="form-group has-feedback">
                                                <label class="col-sm-4 control-label text-black">Poids</label>
                                                <div class="col-sm-8"><input name="Poids_MIC" id="Poids_MIC" type="text" class="form-control border-black border-lg text-black">
                                                    <div class="form-control-feedback">
                                                        KG
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-danger btn-labeled" id="DEL_MICM"><b><i class="icon-cross3"></i></b>Supprimer</button>
                                                <button type="button" class="btn btn-success btn-labeled" id="MOD_MICM"><b><i class="icon-pencil"></i></b>Modifier</button>
                                                <button type="button" class="btn bg-brown-400 btn-labeled" id="ADD_MICM"><b><i class="icon-checkmark2"></i></b> Ajouter</button>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </div>
                                <div class="row">
                                    <table class="table datatable-select-basic nowrap" style="width:100%" id="TAB_MIC1">
                                        <thead class="bg-blue-300">
                                            <tr>
                                                <th class="hide_me">N°</th>
                                                <th>Marchandise</th>
                                                <th>Poids[KG]</th>
                                                <th>RUB</th>
                                                <th>Nombre</th>
                                            </tr>
                                        </thead>
                                        <tbody class="text-black">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-info panel-bordered">
                            <div class="panel-heading">
                                <h6 class="panel-title text-black text-center"><span id="MARC_NAME_C" class="bg-slate-800 pull-left"></span> CONTENEUR
                                </h6>
                            </div>
                            <div class="panel-body">
                                <form class="form-horizontal">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label text-black">Volume</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control border-black border-lg text-black" data-live-search="true" data-width="100%" id="VOLUM_MIC"></select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-sm-4 control-label text-black">Numéro</label>
                                                <div class="col-sm-8"><input name="Numero_MICC" id="Numero_MICC" type="text" class="form-control border-black border-lg text-black">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group has-feedback">
                                                <label class="col-sm-4 control-label text-black">Rubrique</label>
                                                <div class="col-sm-8"><input name="Rubrq_MICC" id="Rubrq_MICC" type="text" class="form-control border-black border-lg text-black">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 text-center">
                                            <div class="form-group has-feedback">
                                                <label class="col-sm-4 control-label text-black">Poids
                                                vide</label>
                                                <div class="col-sm-8"><input name="PoidsV_MIC" id="PoidsV_MIC" type="text" class="form-control border-black border-lg text-black">
                                                    <div class="form-control-feedback">
                                                        KG
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 text-center">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-danger btn-labeled" id="DEL_MICC"><b><i class="icon-cross3"></i></b>Supprimer</button>
                                                <button type="button" class="btn btn-success btn-labeled" id="MOD_MICC"><b><i class="icon-pencil"></i></b>Modifier</button>
                                                <button type="button" class="btn bg-brown-400 btn-labeled" id="ADD_MICC"><b><i class="icon-checkmark2"></i></b> Ajouter</button>
                                                <button type="button" class="btn bg-primary-400 btn-labeled" id="FSURS_MICM"><b><i class="icon-file-text3"></i></b> Surestarie</button>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                </form>
                                <div class="row">
                                    <table class="table datatable-select-basic nowrap" style="width:100%" id="TAB_MIC2">
                                        <thead class="bg-blue-300">
                                            <tr>
                                                <th class="hide_me">N°</th>
                                                <th>Volume</th>
                                                <th>Numéro</th>
                                                <th>Rubriq.</th>
                                                <th>Poids vide</th>
                                            </tr>
                                        </thead>
                                        <tbody class="text-black">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- cont consi modal -->
                <div id="modal_Consign" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h5 class="modal-title"><i class="icon-menu7"></i> &nbsp;Consignation des Conteneurs</h5>
                            </div>

                            <div class="modal-body">
                                <div class="table-responsive">
                                    <table class="table table-xxs">
                                        <thead>
                                            <tr>
                                                <th>N° Conteneur</th>
                                                <th>Volume</th>
                                                <th>#</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbosyconslist" class="text-bold">
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button class="btn btn-link" data-dismiss="modal"><i class="icon-cross"></i> Fermer</button>
                                <button class="btn btn-primary" id="NEXT_CONSI"> Règlement <i class="icon-circle-right2 ml-5"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /cont consi modal -->

                <!-- reglement modal -->
                <div id="modal_Reglement" class="modal fade">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h5 class="modal-title"><i class="icon-menu7"></i> &nbsp;Règlement Consignation des Conteneurs</h5>
                            </div>

                            <div class="modal-body">
                                <div class="tabbable nav-tabs-vertical nav-tabs-left">
                                    <ul class="nav nav-tabs nav-tabs-highlight">
                                        <li class="hidden"a href="#BC" data-toggle="tab"><i class="icon-file-text3 position-left"></i> BC</a></li>
                                        <li class="active"><a href="#ESPECE" data-toggle="tab"><i class="icon-cash position-left"></i> ESPECE</a></li>
                                        <li><a href="#CHEQUE" data-toggle="tab"><i class="icon-file-spreadsheet2 position-left"></i> CHEQUE</a></li>
                                        <li><a href="#TRAITE" data-toggle="tab"><i class="icon-price-tag position-left"></i> TRAITE</a></li>
                                        <li><a href="#VIREMENT" data-toggle="tab"><i class="icon-credit-card2 position-left"></i> VIREMENT BANCAIRE</a></li>
                                    </ul>

                                    <div class="tab-content">
                                        <div class="tab-pane active has-padding" id="BC">Pas de Règlement.</div>

                                        <div class="tab-pane has-padding" id="ESPECE">
                                            <div class="form-group">
                                                <input type="date" id="INP_F_ESPECE_DATE" class="form-control input-xs text-bold text-center" placeholder="Date" value="">
                                            </div>
                                        </div>

                                        <div class="tab-pane has-padding" id="CHEQUE">
                                            <div class="form-group">
                                                <input type="text" id="INP_F_CHEQUE_Num" class="form-control input-xs text-bold text-center" placeholder="N° Cheque" value="">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" id="INP_F_CHEQUE_Banq" class="form-control input-xs text-bold text-center" placeholder="Banque" value="">
                                            </div>
                                            <div class="form-group">
                                                <input type="date" id="INP_F_CHEQUE_DATE" class="form-control input-xs text-bold text-center" placeholder="Date" value="">
                                            </div>
                                        </div>

                                        <div class="tab-pane has-padding" id="TRAITE">
                                            <div class="form-group">
                                                <input type="text" id="INP_F_TRAITE_Num" class="form-control input-xs text-bold text-center" placeholder="Numéro" value="">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" id="INP_F_TRAITE_Banq" class="form-control input-xs text-bold text-center" placeholder="Banque" value="">
                                            </div>
                                            <div class="form-group">
                                                <input type="date" id="INP_F_TRAITE_DATE" class="form-control input-xs text-bold text-center" placeholder="Date" value="">
                                            </div>
                                        </div>

                                        <div class="tab-pane has-padding" id="VIREMENT">
                                            <div class="form-group">
                                                <input type="text" id="INP_F_VIREMENT_Num" class="form-control input-xs text-bold text-center" placeholder="N° de Transfert" value="">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" id="INP_F_VIREMENT_Banq" class="form-control input-xs text-bold text-center" placeholder="Banque" value="">
                                            </div>
                                            <div class="form-group">
                                                <input type="date" id="INP_F_VIREMENT_DATE" class="form-control input-xs text-bold text-center" placeholder="Date" value="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button class="btn btn-link" data-dismiss="modal"><i class="icon-cross"></i> Fermer</button>
                                <button class="btn btn-primary" id="REG_BTN_CONSI"><i class="icon-check"></i> Effectuer</button>
                                <button class="btn btn-primary" id="PRINT_CONSI"><i class="icon-printer4"></i> Imprimer</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /reglement modal -->
            </div>
        </div>
    </div>
</div>