<!-- MARTIME GROUPAGE-->
<div class="row" id="MG_SHOW" style="display: none">
    <div class="col-md-12">
        <div class="panel panel-default border-grey">
            <div class="panel-heading">
                <h6 class="panel-title text-muted text-bold NAME_DOS_CLFDS"><i class="icon-ship"></i> - Dossier Maritime Groupage</h6>
                <div class="heading-elements">
                    <ul class="heading-thumbnails">
                        <!--li>
                            <a href="#"><img class="attr_in_np_img" src="../../../assets/images/default-img.png" alt=""> <span class="ml-5 text-black attr_in_np">Non attribué</span></a>
                        </li-->
                    </ul>
                </div>
            </div>

            <div class="panel-body">
                <div class="row mb-20">
                    <div class="col-lg-4">
                        <div class="input-group">
                            <input name="DM_ATTRIBUER_MIG" id="DM_ATTRIBUER_MIG" type="text" user="" placeholder="Attribuer à ..." class="form-control input-sm border-black border-lg text-black text-center" readonly>
                            <span class="input-group-btn">
                                    <button type="button" id="BTN_ATT_U_ADD_MIG"
                                            class="btn btn-link"
                                            data-popup="tooltip"
                                            title="Attribuez-vous à ce dossier ?"
                                            data-placement="right"><i
                                            class="icon-user-plus position-left"></i></button>
                                </span>
                        </div>
                    </div>
                    <div class="col-lg-5 text-center">
                        <div class="btn-group" id="all_btn_MG">
                            <button type="button" class="btn bg-blue-800 btn-labeled mr-5" id="BTN_ADD_to_MIG"><b><i class="icon-plus-circle2"></i></b> Ajouter</button>
                            <button type="button" class="btn bg-indigo-800 btn-labeled mr-5" id="BTN_MOD_MIG"><b><i class="icon-pen-plus"></i></b> Modifier</button>
                            <button type="button" class="btn bg-warning-800 btn-labeled mr-5" id="BTN_CLOT_MIG"><b><i class="icon-unlocked"></i></b> Cloturer</button>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="btn-group pull-right">
                            <button type="button" class="btn bg-primary-700 btn-labeled toutes_les_factures"><b><i class="icon-printer4"></i></b>Edition</button>
                            <button type="button" class="btn bg-primary-400 dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right bg-primary-700" style="min-width: 220px !important;">
                                <li><a id="PAA_MIG"><i class="icon-printer2"></i> PREAVIS D'ARRIVEE</a></li>
                                <li><a id="AA_MIG"><i class="icon-file-text3"></i> AVIS D'ARRIVEE + FACTURE</a></li>
                                <li><a id="MAG_MIG"><i class="icon-printer2"></i> MAGASINAGE</a></li>
                                <li><a id="BAD_MIG"><i class="icon-printer2"></i> BON A DELIVRER</a></li>
                                <li><a id="INV_MIG"><i class="icon-file-text3"></i> INVOICE</a></li>
                                <li><a href="/GTRANS/public/Facture/" target="_blank"><i class="icon-printer2"></i> AUTRE</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row mb-20">
                    <div class="col-md-12">
                        <table class="table datatable-select-basic nowrap" style="width:100%" id="TAB_MIG">
                            <thead class="bg-primary-400">
                                <tr>
                                    <th class="hide_me">N°</th>
                                    <th>Num BL</th>
                                    <th>Nature Marchandise</th>
                                    <th>Poids[KG]</th>
                                    <th>Nombre</th>
                                    <th>Client</th>
                                    <th>#</th>
                                </tr>
                            </thead>
                            <tbody class="text-black">

                            </tbody>
                        </table>
                    </div>
                </div>

                <form action="./" id="NEW_DMIG_ADD" name="NEW_DMIG_ADD" class="form-horizontal">

                    <div class="row">
                        <div class="col-md-6">
                            <!-- Fournisseur -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label text-black">Fournisseur
                                : </label>
                                <div class="col-sm-9">
                                    <select class="form-control border-black border-lg text-black livesearch" id="fournisseurs_MIG" data-live-search="true" data-width="100%">

                                </select>
                                </div>
                            </div>
                            <!-- /Fournisseur -->
                            <!-- Client -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label text-black">Client
                                : </label>
                                <div class="col-sm-9">
                                    <select class="form-control border-black border-lg text-black livesearch" id="clients_MIG" data-live-search="true" data-width="100%">

                                </select>
                                </div>
                            </div>
                            <!-- /Client -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label text-black">Adresse
                                : </label>
                                <div class="col-sm-9"><input name="clients_ADR_MIG" id="clients_ADR_MIG" type="text" class="form-control border-black border-lg text-black">
                                </div>
                            </div>
                            <!-- P/C -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label text-black">P/C : </label>
                                <div class="col-sm-9">
                                    <select class="form-control border-black border-lg text-black livesearch" id="clients_PC_MIG" data-live-search="true" data-width="100%"></select>
                                </div>
                            </div>
                            <!-- /P/C -->
                            <div class="form-group">
                                <label class="col-sm-3 control-label text-black">Valeur en devise : </label>
                                <div class="col-sm-9"><input name="VAL_DEV_MIG" id="VAL_DEV_MIG" type="text" class="form-control border-black border-lg text-black">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label text-black">B/L N° : </label>
                                <div class="col-sm-9"><input name="BL_MIG" id="BL_MIG" type="text" class="form-control border-black border-lg text-black">
                                </div>
                            </div>
                            <!-- Navire-->
                            <div class="form-group">
                                <label class="col-sm-3 control-label text-black">Navire : </label>
                                <div class="col-sm-9">
                                    <select class="form-control border-black border-lg text-black livesearch" id="navire_MIG" data-live-search="true" data-width="100%">

                                </select>
                                </div>
                            </div>
                            <!-- /Navire -->
                            <!-- Navire-->
                            <div class="form-group">
                                <label class="col-sm-3 control-label text-black">Lieu Depart : </label>
                                <div class="col-sm-9">
                                    <select class="form-control border-black border-lg text-black livesearch" id="port_DEP_MIG" data-live-search="true" data-width="100%"></select>
                                </div>
                            </div>
                            <!-- /Navire -->
                            <!-- Navire-->
                            <div class="form-group">
                                <label class="col-sm-3 control-label text-black">Lieu Arrivée : </label>
                                <div class="col-sm-9">
                                    <select class="form-control border-black border-lg text-black livesearch" id="port_ARR_MIG" data-live-search="true" data-width="100%">

                                </select>
                                </div>
                            </div>
                            <!-- /Navire -->

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-sm-3 control-label text-black">Marchandise
                                : </label>
                                <div class="col-sm-9"><input name="MARCH_MIG" id="MARCH_MIG" type="text" class="form-control border-black border-lg text-black">
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="col-sm-3 control-label text-black">Date Depart :</label>
                                <div class="col-sm-9">
                                    <input type="date" class="form-control border-black border-lg text-black daterange-single" type="date" id="Date_Dep_MIG">
                                    <div class="form-control-feedback">
                                        <i class="icon-calendar22"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="col-sm-3 control-label text-black">Date Arrivée :</label>
                                <div class="col-sm-9">
                                    <input type="date" class="form-control border-black border-lg text-black daterange-single" type="date" id="Date_arr_MIG">
                                    <div class="form-control-feedback">
                                        <i class="icon-calendar22"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group has-feedback">
                                <label class="col-sm-3 control-label text-black">Poids : </label>
                                <div class="col-sm-9"><input name="Poids_MIG" id="Poids_MIG" type="number" class="form-control border-black border-lg text-black">
                                    <div class="form-control-feedback">
                                        KG
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-feedback">
                                        <label class="col-sm-6 control-label text-black">Nombre :</label>
                                        <div class="col-sm-6"><input name="Nombre_MIG" id="Nombre_MIG" type="number" class="form-control border-black border-lg text-black">
                                            <div class="form-control-feedback">
                                                <i class="icon-list-numbered"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group has-feedback">
                                        <label class="col-sm-4 control-label text-black">Longueur :</label>
                                        <div class="col-sm-8"><input name="long_MIG" id="long_MIG" type="number" class="form-control border-black border-lg text-black">
                                            <div class="form-control-feedback">
                                                <i class="icon-square-up"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-feedback">
                                        <label class="col-sm-6 control-label text-black">Largeur :</label>
                                        <div class="col-sm-6"><input name="larg_MIG" id="larg_MIG" type="number" class="form-control border-black border-lg text-black">
                                            <div class="form-control-feedback">
                                                <i class="icon-square-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group has-feedback">
                                        <label class="col-sm-4 control-label text-black">Hauteur :</label>
                                        <div class="col-sm-8"><input name="haut_MIG" id="haut_MIG" type="number" class="form-control border-black border-lg text-black">
                                            <div class="form-control-feedback">
                                                <i class="icon-square-up-right"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <!-- Terme-->
                                    <div class="form-group">
                                        <label class="col-sm-6 control-label text-black">Terme
                                        :</label>
                                        <div class="col-sm-6">
                                            <select class="form-control border-black border-lg text-black" data-live-search="true" data-width="100%" id="term_MIG">
                                            <option value="EXWORK">EXWORK</option>
                                            <option value="FOB">FOB</option>
                                            <option value="FAS">FAS</option>
                                            <option value="DDP">DDP</option>
                                            <option value="DDU">DDU</option>
                                            <option value="CF">CF</option>
                                            <option value="">-</option>
                                        </select>
                                        </div>
                                    </div>
                                    <!-- /Terme -->
                                </div>
                                <div class="col-md-6">
                                    <!-- Marque-->
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label text-black">Marque
                                        :</label>
                                        <div class="col-sm-8">
                                            <select class="form-control border-black border-lg text-black" data-live-search="true" data-width="100%" id="marq_MIG">
                                            <option value="palette">Palette</option>
                                            <option value="colis">Colis</option>
                                            <option value="caisse">Caisse</option>
                                            <option value="unite">Unité</option>
                                            <option value="crts">Crts</option>
                                            <option value="bulk">Bulk</option>
                                            <option value="box">Box</option>
                                            <option value="">-</option>
                                        </select>
                                        </div>
                                    </div>
                                    <!-- /Marque -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group has-feedback">
                                        <label class="col-sm-6 control-label text-black">Escale
                                        :</label>
                                        <div class="col-sm-6"><input name="escal_MIG" id="escal_MIG" type="text" class="form-control border-black border-lg text-black">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-sm-4 control-label text-black">Rubrique
                                        :</label>
                                        <div class="col-sm-8"><input name="Rubr_MIG" id="Rubr_MIG" type="text" class="form-control border-black border-lg text-black">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>