<div class="navbar-header">
    <a class="navbar-brand position-right">
        <img src="/GTRANS/assets/images/medways_light.png" alt="pppp">
    </a>
    <ul class="nav navbar-nav visible-xs-block">
        <li>
            <a data-toggle="collapse" data-target="#navbar-mobile">
                <i class="icon-tree5"></i>
            </a>
        </li>
        <li>
            <a class="sidebar-mobile-main-toggle">
                <i class="icon-paragraph-justify3"></i>
            </a>
        </li>
        <li>
            <a class="sidebar-mobile-detached-toggle">
                <i class="icon-grid7"></i>
            </a>
        </li>
    </ul>
</div>

<div class="navbar-collapse collapse" id="navbar-mobile">
    <ul class="nav navbar-nav">
        <li>
            <a class="sidebar-control sidebar-main-hide hidden-xs">
                <i class="icon-lan3"></i>
            </a>
        </li>

        <li>
            <a class="sidebar-control sidebar-detached-hide hidden-xs">
                <i class="icon-drag-left"></i>
            </a>
        </li>
    </ul>

    <div class="col-sm-3 col-md-3 pull-left">
        <div class="navbar-form" role="search">
            <div class="form-group has-feedback" id="srch_item_nvb">
                <input type="text" class="form-control input-xs" placeholder="Recherche" name="srch-term" id="srch-term" autocomplete="off"
                    spellcheck="false">
                <div class="form-control-feedback">
                    <i class="icon-search4 text-size-base" id="ico_srch_inp"></i>
                </div>
            </div>
        </div>
    </div>
    <p class="navbar-text">
        <span class="label bg-success" id="nv_levl_account_type"></span>
    </p>
    <!--p class="navbar-text"><span class="label bg-success">En ligne</span></p-->

    <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <!--i class="icon-calendar52"></i-->
                <i class="fa fa-calendar faa-shake animated-hover" style="font-size: 1.3em"></i>
                <span class="visible-xs-inline-block position-right">Calendrier</span>
            </a>

            <div class="dropdown-menu dropdown-content">
                <div class="datepicker_nvbr no-border bg-slate-400"></div>
            </div>
        </li>
        <!--li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-mailbox"></i>
                <span class="visible-xs-inline-block position-right">E-Mail</span>
                <span class="badge bg-info-400 nv_mail_data_co">0</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-sm dropdown-menu-right width-250 bg-slate-600">
                <li class="dropdown-submenu dropdown-submenu-left">
                    <a href="/GTRANS/public/users/mail"><i class="icon-drawer-in"></i> Boîte de réception <span class="badge bg-blue pull-right nv_mail_data_co">0</span></a>
                    <ul class="dropdown-menu dropdown-menu-xs dropdown-menu-right bg-slate-600">
                        <li><a id="nv_synch_mail"><i class="icon-sync"></i> Synchroniser</a></li>
                    </ul>
                </li>
                <li class="divider"></li>
                <li><a><i class="icon-upload4"></i>Envoi <span id="nv_stat_send" class="badge bg-success pull-right">On</span></a></li>
                <li><a><i class="icon-download4"></i>Réception <span id="nv_stat_recieve" class="badge bg-success pull-right">On</span></a></li>
                <li><a><i class="icon-sync"></i>Auto-sync <span id="nv_stat_sync" class="badge bg-success pull-right">On</span></a></li>
                <li class="divider"></li>
                <li class="dropdown-submenu dropdown-submenu-left">
                    <a href="/GTRANS/public/users/mail" id="nv_mail_str"><i class="icon-address-book"></i> gaith_baccari@hotmail.fr</a>
                    <ul class="dropdown-menu dropdown-menu-xs dropdown-menu-right bg-slate-600">
                        <li><a href="/GTRANS/public/users/user"><i class="icon-cog5"></i> Paramètres de messagerie</a></li>
                    </ul>
                </li>
            </ul>
        </li-->
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <!--i class="icon-calendar3"></i-->
                <i id="alert_event_icon" class="fa fa-bell faa-ring" style="font-size: 1.3em"></i>
                <span class="visible-xs-inline-block position-right">Evenements</span>
                <span class="badge bg-warning-400" id="nv_cal_events_co">0</span>
            </a>

            <div class="dropdown-menu dropdown-content">
                <div class="dropdown-content-heading text-center">
                    <span style="font-size: 10px;">Événements pour aujourd'hui et le lendemain</span>
                </div>

                <ul class="media-list dropdown-content-body width-300" id="nv_cal_events">
                </ul>

                <div class="dropdown-content-footer">
                    <div class="btn-group btn-group-justified">
                        <a id="make_seen_btn" class="btn btn-primary text-indigo-700">
                            <i class="icon-alarm-check position-left"></i> vu</a>
                        <a id="add_event_btn" class="btn btn-primary text-indigo-700" data-toggle="modal" data-target="#ModalAddEvent">
                            <i class="icon-plus-circle2 position-left"></i> Ajout</a>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <a href="/GTRANS/public/users/login_unlock">
                <i class="icon-user-lock"></i>
                <span class="visible-xs-inline-block position-right">Verrou</span>
            </a>
        </li>
        <li class="dropdown dropdown-user">
            <a class="dropdown-toggle" data-toggle="dropdown">
                <img src="/GTRANS/assets/images/default-img.png" alt="" id="nv_upic">
                <span id="nv_uname">GAYTH</span>
                <i class="caret"></i>
            </a>

            <ul class="dropdown-menu dropdown-menu-right">
                <li>
                    <a href="/GTRANS/public/users/user">
                        <i class="icon-profile"></i> Mon profile</a>
                </li>
                <li>
                    <a href="/GTRANS/public/users/logout">
                        <i class="icon-switch2"></i> Se déconnecter</a>
                </li>
            </ul>
        </li>
    </ul>
</div>